{% comment %} 
    @param {boolean} bottom - bottom will render <hr> 
{% endcomment %}

{% if site.featured-tags %}
{% assign current_lang = page.lang | default: 'zh' %}
{% assign strings = site.data.i18n[current_lang] %}
{% if current_lang == 'en' %}
    {% assign tag_posts = site.en_posts %}
{% else %}
    {% assign tag_posts = site.posts %}
{% endif %}
{% if tag_posts.size > 0 %}
<section>
    {% if include.bottom %}
        <hr class="hidden-sm hidden-xs">
    {% endif %}
    <h5><a href="{% if current_lang == 'en' %}{{ '/en/archive/' | prepend: site.baseurl }}{% else %}{{ '/archive/' | prepend: site.baseurl }}{% endif %}">{{ strings.featured_tags }}</a></h5>
    <div class="tags">
        {% capture all_tag_names %}{% for article in tag_posts %}{% for tag in article.tags %}{{ tag }}__TAG_SEPARATOR__{% endfor %}{% endfor %}{% endcapture %}
        {% assign unique_tags = all_tag_names | strip | split: '__TAG_SEPARATOR__' | uniq | sort %}
        {% for tag in unique_tags %}
            {% assign clean_tag = tag | strip %}
            {% assign tag_count = 0 %}
            {% for article in tag_posts %}{% if article.tags contains clean_tag %}{% assign tag_count = tag_count | plus: 1 %}{% endif %}{% endfor %}
            {% if clean_tag != '' and tag_count > site.featured-condition-size %}
                <a data-sort="{{ tag_posts.size | minus: tag_count | prepend: '0000' | slice: -4, 4 }}"
                    href="{% if current_lang == 'en' %}{{ site.baseurl }}/en/archive/{% else %}{{ site.baseurl }}/archive/{% endif %}?tag={{ clean_tag | url_encode }}"
                    title="{{ clean_tag }}" rel="{{ tag_count }}">{{ clean_tag }}</a>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endif %}
{% endif %}
